/*
grey:			#88A2AA
grey-orange:	#ADA296
skin:			#E2856E
orange:			#F42C04
black:			#0F1A20
*/

body{
	background: #0F1A20;
	color: white;
}

.raleway{font-family: 'Raleway', sans-serif;}
.nav-right{display: inline;}

#nav {
    background: linear-gradient(180deg, #0F1A20, #122831);
    color: white;
    height: 50px;
    font-size: 20px;
    padding: 10px 15px;
    opacity: 90%;
    position: fixed;
    z-index: 4;
    width: 100%;
    top: -50px;
    transition: all 0.5s;
}

#nav .fab{
    font-size: 30px;
    margin: 0 5px;
    cursor: pointer;
}

#nav a{
    color: white;
    text-decoration: none;
    margin: 0 5px;
    font-size: 13px;
    border: 1px solid white;
    border-radius: 3px;
    padding: 6px;
    position: relative;
    bottom: 5px;
    cursor: pointer;
}

.navScroll{top: 0px !important;}

video{
    width: 100%;
	filter: brightness(0.5);
}

#front-page{height:800px;}

#main-title {
    position: absolute;
    z-index: 2;
    color: white;
    top: 100px;
    left: 25px;
}

#main-content {
    position: relative;
    /*z-index: 2;*/
    top: -90px;
    /*right: 154px;*/
    background: rgba(0,0,0,0.2);
    padding: 20px 30px;
    font-family: 'Montserrat', sans-serif;
    display: none;
}

#main-content h4 {
    color: white;
    margin-bottom: 20px;
}

#main-content h4{
	color: white;
	border-bottom: 1px solid white;
	margin-top: 20px;
}

.subHead{
    border-bottom: 1px solid;
    margin-bottom: 40px;
    padding-bottom: 30px;
}

#about-me{display: none;}
#about-me img{border-radius: 50%;width: 50%;}
#about-me p{
    width: 50%;
	font-size: 18px;
    float: left;
}

#skills{display: none; margin-top: 100px}
#skills h4{
    position: absolute;
    top: 0px;
    left: 0px;
    color: #ddd;
}
.skill-M{
    font-size: 28px;
}
.skill-m{
    font-size: 20px;
}



/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

